
body {
  background: url('../images/main-bg-tile.gif') repeat;
}
#main-wrapper {
  background: white;
}
h1,
.h1 {
  font-size:24px;
}
h2,
.h2 {
  font-size:20px;
}
h3,
.h3 {
  font-size:18px;
}
h4,
.h4 {
  font-size:16px;
}

a {
  color: #559767;
}

/**
 * Banner image + page title styles
 */
#page-header {
  margin-bottom: 20px;
}
#banner-box {
  min-height: 70px;
  position: relative;
}
.banner-page-title {
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: 0;
  color: #559767;
  font-size: 27px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  padding: 20px 20px 16px 17px;
}

/**
 * Sidebar menu
 */
.menu-block-wrapper .menu li {
  font-size: 15px;
  border-bottom: 1px dotted #8A8A8A;
}
.menu-block-wrapper .menu a {
  color: #2F2D2E;
  padding: 5px 0;
}
.menu-block-wrapper .menu > li > a:hover {
  background: none;
  color: #559767;
}
.menu-block-wrapper .menu .active-trail a {
  color: #559767;
}

/**
 * Quicktabs gral styles
 */
.quicktabs-wrapper {
  margin-top: 20px;
}
.quicktabs-tabs {
  margin: 10px 0 0;
  padding: 0;
  height: 25px;
  border-bottom: 2px solid #151E46;
}
.block-quicktabs .quicktabs-tabs li {
  padding: 0;
}
.quicktabs-tabs a {
  color: #151E46;
  background: #d9d9d9;
}
.quicktabs-tabs a:hover {
  text-decoration: none;
}
.quicktabs-tabs li a {
  padding: 5px 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.quicktabs-tabs .active a {
  background: gray;
  color: white;
}
/**
 * Qtabs yearly tab table styles
 */
.quicktabs-tabpage .view th {
  font-size: 12px;
  background-color: #efefef;
  padding: 10px 5px 10px 5px;
  color: #151E46;
}
.quicktabs-tabpage .view tr > td:first-child {
  width: 25%;
}
.quicktabs-tabpage .view .even {
  background: #efefef;
}

.search-results {
  padding: 0 0 0 15px;
}

/**
 * Footer blocks
 */
.footer {
  padding: 15px;
  font-size: 11px;
  font-style: italic;
  color: #8A8A8A;
}
.region-footer .block-block {
  float: left;
}
.region-footer .block-menu {
  float: right;
}
.region-footer .block-menu .leaf {
  display: inline-block;
}
.region-footer .block-menu .leaf a {
  padding: 0 10px;
  color: #8A8A8A;
  border-right: 1px solid #8A8A8A;
}
.region-footer .block-menu .last a {
  border-right: none;
}
.region-footer .menu > li > a:hover {
  text-decoration: underline;
  background: none;
}

@media (min-width: 768px) {
  /**
  * Bootstrap sidebar below main content col on mobile
  */
  #main-col {
    float: right;
  }
  #menu-sidebar {
    float: left;
  }

  .form-search,
  .search-form {
    width: 40%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 1200px) {

}