
body {
  background: url('../images/main-bg-tile.gif') repeat;
  color: #2F2F2F;
}
.cke_editable {
  background: none;
  padding: 10px;
}
.page-node-edit body {
  background: none;
}
.cke_editable .intro-text {
  font-size: 15px!important;
  color: #559767;
}
#main-wrapper {
  background: white;
  position: relative;
}

h1,
.h1 {
  font-size: 24px;
}

h2,
.h2 {
  font-size: 20px;
}

h3,
.h3 {
  font-size: 18px;
}

h4,
.h4 {
  font-size: 16px;
}

a {
  color: #559767;
}
img {
  max-width: 100%;
  height: auto;
}
.block-title {
  font-size: 15px;
  color: #559767;
  text-transform: capitalize;
  font-weight: 300;
  margin: 0 0 10px;
}
/**
* Top cookie block
*/
.region-top .block {
  background: white;
  padding: 10px;
  font-size: 12px;
}

#logo-box {
  display: none;
}

/**
 * Main nav styles
 */
/*
 * Bootstrap override
 * make dropdown menus do dropdown on hover,
 * and allow parent link to be clickable
 */
ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block !important;
}

ul.nav li.dropdown ul.dropdown-menu {
  margin-top: 0;
}
.navbar-default .navbar-nav > li >a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color: #2F2F2F;
}
.navbar {
  min-height: auto;
  margin-bottom: 0;
}

.dropdown-menu {
  border-bottom: 6px solid #569966;
  min-width: 225px;
}

.navbar-nav > li > a {
  padding-top: 7px;
  padding-bottom: 7px;
}

.navbar-nav > li.active > .active {
  background: white;
}

.navbar-collapse .nav a {
  text-transform: uppercase;
}

.navbar-collapse .nav li.active-trail > a {
  color: #559767;
  border-left: 1px solid #BFBFBF;
  border-right: 1px solid #BFBFBF;
  background: white;
}

/**
 * Banner image + page title styles
 */
#page-header {
  margin-bottom: 20px;
}

#banner-box {
  min-height: 70px;
  position: relative;
}
.front #banner-box {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.banner-page-title {
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: 0;
  color: #559767;
  font-size: 27px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  padding: 7px;
}

/**
 * Sidebar menu
 */
.menu-block-wrapper .menu li {
  font-size: 15px;
  border-bottom: 1px dotted #8A8A8A;
}

.menu-block-wrapper .menu a {
  color: #2F2D2E;
  padding: 5px 0;
}

.menu-block-wrapper .menu > li > a:hover {
  background: none;
  color: #559767;
}

.menu-block-wrapper .menu .active-trail > a {
  color: #559767;
}
.menu-block-wrapper .menu .active-trail .menu li {
  padding-left: 15px;
}
.menu-block-wrapper .menu li.menu-level-3.last {
  border-bottom: none;
}
.menu-block-wrapper .menu .active-trail .menu a {
  font-size: 80%;
}
/**
 * Quicktabs gral styles
 */
.quicktabs-wrapper {
  margin-top: 20px;
}
ul.quicktabs-tabs li {
  display: inline-block;
  margin-bottom: 3px;
}

.quicktabs-tabs {
  margin: 10px 0 0;
  padding: 0;
  border-bottom: 2px solid #151E46;
}

.block-quicktabs .quicktabs-tabs li {
  padding: 0;
}

.quicktabs-tabs a {
  color: #151E46;
  background: #d9d9d9;
}

.quicktabs-tabs a:hover {
  text-decoration: none;
}

.quicktabs-tabs li a {
  padding: 5px 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.quicktabs-tabs .active a {
  background: gray;
  color: white;
}

#quicktabs-company_history a {
  font-size:14px;
  padding: 5px 10px;
}

/**
 * Qtabs yearly tab table styles
 */
.quicktabs-tabpage .view th {
  font-size: 12px;
  background-color: #efefef;
  padding: 10px 5px 10px 5px;
  color: #151E46;
}

.quicktabs-tabpage .view tr > td:first-child {
  width: 25%;
}

.quicktabs-tabpage .view .even {
  background: #efefef;
}

.search-results {
  padding: 0 0 0 15px;
}

/**
* Bootstrap no gutters hack
*/
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
iframe {
  width: 100%;
}

/**
* Front page styles
*/
.front .region-highlighted .block {
  border-bottom: 3px solid #000000;
  margin-bottom: 35px;
}
.front .main-container {
  border-top: 1px solid black;
}
.front .main-container .block-block img {
  width: 100%;
}


.front .view a {
  color: #2F2F2F;
}
.front .view a:hover {
  color: #559767;
}
.front .view-news .views-row {
  display: block;
  border-bottom: 1px dotted gray;
}
.front .view-news .views-field-field-news-release-date {
  text-align: left;
  padding-right: 5px;
  float: left;
  font-size: 11px;
  color: #559767;
}
.front .view-news .views-field-title {
  float: left;
  width: 82%;
  text-align: left;
}
.front .view-financial-reports .views-row {
  border-bottom: 1px dotted gray;
  padding-bottom: 4px;
  background-image: url('/modules/file/icons/application-pdf.png');
  background-repeat: no-repeat;
  background-position: 0 2px;
}

.front .view-financial-reports .file-icon {
  padding-right: 5px;
  float: left;
}
.front .view-financial-reports a {
  float: right;
  width: 95%;
}

#main-col {
  padding: 0;
}

.site-map-front-page {
  display: none;
}
.site-map-box-menu .title {
  display: none;
}

/**
 * Footer blocks
 */
.footer {
  padding: 15px;
  font-size: 11px;
  font-style: italic;
  color: #8A8A8A;
}

.region-footer .block-menu .leaf {
  display: inline-block;
}

.region-footer .block-menu .leaf a {
  padding: 0 10px;
  margin-bottom: 5px;
  color: #8A8A8A;
  border-right: 1px solid #8A8A8A;
}
.region-footer .block-menu .first a {
  padding: 0 10px 0 0;
}

.region-footer .block-menu .last a {
  border-right: none;
}

.region-footer .menu > li > a:hover {
  text-decoration: underline;
  background: none;
}

article.node table {
  border-top: 1px solid #151E46;
}
article.node table th {
  text-align: left;
  background-color: #efefef;
  padding: 10px 5px 10px 5px;
  color: #151E46;
}
article.node table td {
  padding: 5px 5px 5px 5px;
  border-bottom: 1px dotted #626365;
  vertical-align: top;
}
table tr:nth-child(odd) {
  background-color: #efefef;
}

@media (max-width: 768px) {
  .navbar-collapse .navbar-nav {
    padding-left: 10px;
  }
  #navbar .dropdown-menu {
    display: none !important;
  }
  .main-content-col {
    margin-bottom: 20px;
  }
  .block {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {

  /**
 * Top cookie block
 */
  .region-top .block {
    padding: 20px 100px 70px 100px;
  }

  .banner-page-title {
    padding: 20px 20px 16px 17px;
  }
  #logo-box {
    display: block;
    position: absolute;
    top: 90px;
    left: 385px;
    z-index: 100;
  }
  .navbar {
    border: none;
  }
  .navbar-default .navbar-collapse {
    border-top: 3px solid black;
    border-bottom: 1px solid #000000;
    padding-left: 0;
  }
  .main-content-col {
    float: right;
  }
  ul.quicktabs-tabs li {
    display: inline;
  }
  .quicktabs-tabs {
    height: 25px;
  }
  #quicktabs-company_history .quicktabs-tabs {
    height: 24px;
  }
  #quicktabs-company_history a {
    font-size: 11px;
    padding: 5px;
  }

  /**
  * Front page views specific styles
  */
  .front .view-news .views-field-field-news-release-date {
    text-align: right;
    width: 17%;
    padding-top: 2px;
  }
  .front .view-financial-reports a {
    width: 80%;
  }

  .form-search,
  .search-form {
    width: 40%;
  }

  .region-footer .block-block {
    float: left;
  }

  .region-footer .block-menu {
    float: right;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #logo-box {
    top: 137px;
    left: 375px;
  }
  #logo-box img {
    max-width: 50%;
  }
  .after-logo-first {
    margin-left: 70px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .front .view-financial-reports a {
    width: 85%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .after-logo-first {
    margin-left: 150px;
  }
  .field-name-field-page-banner-image img {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .after-logo-first {
    margin-left: 150px;
  }
}